<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991716246619-rv62p8f7774a6glk1bufa1cc79vclhrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991716246619-rv62p8f7774a6glk1bufa1cc79vclhrg</string>
	<key>API_KEY</key>
	<string>AIzaSyA7xezzCCFXAjmAkkc02gRQOvFg5MW4_q0</string>
	<key>GCM_SENDER_ID</key>
	<string>991716246619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oyuncakTakasi</string>
	<key>PROJECT_ID</key>
	<string>oyuncaktakasi-ee3fb</string>
	<key>STORAGE_BUCKET</key>
	<string>oyuncaktakasi-ee3fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991716246619:ios:17ea877a0bd3c623d62b7e</string>
</dict>
</plist>